// see "pages/_app.js" for main font family
// font-family: var(--main-font);
$main-font: var(--main-font) !default;

$black: #1e1e1e !default;
$white: #f6f6f6 !default;
$white-dark-mode: #cfcfcf !default;
$grey: #383838 !default;
$bbu-blue: #0e7181 !default;
$bbu-dark-blue: #0b515b !default;
$bbu-dark-mode-blue: #1396aa !default;
